
 @font-face {
    font-family: 'Commune_Nuit_Debout';
    src:    font-url( asset-path('Commune-Nuit_Debout_web.eot'));
    src:    font-url( asset-path('Commune-Nuit_Debout_web.eot?#iefix')) format('embedded-opentype'),
            font-url( asset-path('Commune-Nuit_Debout_web.woff')) format('woff'),
            font-url( asset-path('Commune-Nuit_Debout_web.woff2')) format('woff2'),
            font-url( asset-path('Commune-Nuit_Debout_web.ttf')) format('truetype'),
            font-url( asset-path('Commune-Nuit_Debout_web.svg#svgFontName')) format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Commune_Nuit_Debout_Pochoir';
    src:    font-url( asset-path('Commune-Nuit_Debout_Pochoir_web.eot'));
    src:    font-url( asset-path('Commune-Nuit_Debout_Pochoir_web.eot?#iefix')) format('embedded-opentype'),
            font-url( asset-path('Commune-Nuit_Debout_Pochoir_web.woff')) format('woff'),
            font-url( asset-path('Commune-Nuit_Debout_Pochoir_web.woff2')) format('woff2'),
            font-url( asset-path('Commune-Nuit_Debout_Pochoir_web.ttf')) format('truetype'),
            font-url( asset-path('Commune-Nuit_Debout_Pochoir_web.svg#svgFontName')) format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
   font-family: 'Social Media Circled';
   src:    font-url( asset-path('SocialMediaCircled.otf'));
   font-weight: normal;
   font-style: normal;
}
