<p id="notice"><%= notice %></p>

  <% @whitecards = WhiteCard.order(Arel.sql('RANDOM()')).pluck(:id) %>

  <% i = params[:player].to_i - 1 %>

  <% case params[:player].to_i %>
    <% when 1 %>

      <% Round.where(id: params[:round], game_id: params[:game]).update(player_1: "", player_count: i) %>
    <% when 2 %>
      <% Round.where(id: params[:round], game_id: params[:game]).update(player_2: "", player_count: i) %>
    <% when 3 %>
      <% Round.where(id: params[:round], game_id: params[:game]).update(player_3: "", player_count: i) %>
    <% when 4 %>
      <% Round.where(id: params[:round], game_id: params[:game]).update(player_4: "", player_count: i) %>
    <% when 5 %>
      <% Round.where(id: params[:round], game_id: params[:game]).update(player_5: "", player_count: i) %>
    <% when 6 %>
      <% Round.where(id: params[:round], game_id: params[:game]).update(player_6: "", player_count: i) %>
    <% when 7 %>
      <% Round.where(id: params[:round], game_id: params[:game]).update(player_7: "", player_count: i) %>
    <% when 8 %>
      <% Round.where(id: params[:round], game_id: params[:game]).update(player_8: "", player_count: i) %>
    <% when 9 %>
      <% Round.where(id: params[:round], game_id: params[:game]).update(player_9: "", player_count: i) %>
    <% when 10 %>
      <% Round.where(id: params[:round], game_id: params[:game]).update(player_10: "", player_count: i) %>
  <% end %>

  <% GameUser.where(user_id: current_user.id, game_id: params[:game]).last.destroy %>

you have been removed to the game.

  <%= link_to "back", games_path %>
