/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";
 /* Latest compiled and minified CSS included as External Resource*/

 /* Optional theme */
 @import url('//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css');

.gametitle {
  font-family: "Helv Children";
}

.dealerFont{
  font-family: "HelvetiHand";
}

.gameTable {
  float: right;
}
.imageBottom{
  position: absolute;
  bottom: 0px;
  vertical-align: bottom;
}

.WhiteCard {
  position: relative;
  width: 200px;
  height: 250px;
  word-wrap: normal;
  border: solid;
  border-color: black;
  border-radius: 10px;
  float: left;
  margin: 10px;
}
.BlackCard {
  width: 195px;
  height: 245px;
  word-wrap: normal;
  border: solid;
  border-color: white;
  border-radius: 10px;
  background-color: black;
  color: white;
}

#CAHtableMain {
  width: 100%;
  font-family: "HelvetiHand";
}
#CAHtableMain td, #CAHtableMain th {
  padding-left: 8px;
  padding-right: 8px;
  text-align: center;
}

#CAHtable {
  font-family: "HelvetiHand";
  border-collapse: collapse;
}

#CAHtable td, #CAHtable th {
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}

#CAHtable td {
  font-family: "HelvetiHand";
}
