@font-face {
   font-family: 'Helv Children';
   src:    font-url( asset-path('HelvChildren.otf'));
   font-weight: normal;
   font-style: normal;
}
@font-face {
    font-family: 'DEADLY';
    src:    font-url( asset-path('DEADLYKILLERS.otf'));
    src:    font-url( asset-path('DEADLYKILLERS.ttf')) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
   font-family: 'HelvetiHand';
   src:    font-url( asset-path('HelvetiHand.ttf'))format('truetype');
   font-weight: normal;
   font-style: normal;
}
