<p id="notice"><%= notice %></p>



<table>
  <thead>
    <tr>
      <th colspan="2">White Cards</th>
      
    </tr>
  </thead>

  <tbody>
    <% @white_cards.each do |white_card| %>
      <tr>
        <td><%= white_card.id %></td>
        <td><%= white_card.text %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'return to home', root_path %>
